name: Windows Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted  # Simple Uses your personal Windows runner for now

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup MSBuild Path
        uses: microsoft/setup-msbuild@v2

      - name: Build All MSBuild Solutions
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
          call "msbuild C:\Users\tomha\Win10SysProgBookSamples\my-code\chap01\Chapter01.sln"